 #root {
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: rgb(18, 17, 17); */
}

/* Apply padding only for md (768px) and above */
@media (min-width: 768px) {
  #root {
    padding: 2rem;
  }
}

/* Optional: Remove padding for smaller screens */
@media (max-width: 767px) {
  #root {
    padding: 15px;
  }
}

.dark {
  background-color: black;
}
.light {
  background-color: white;
}




@keyframes scaleImage {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

.animate-scale {
  animation: scaleImage 3s infinite ease-in-out;
}

.animate-scale:hover {
  animation-play-state: paused;
}

